:root {
  --heading-font: "Libre Baskerville", serif;
  --default-font: "Poppins", sans-serif;
  --primary-background-color: #e4c0c4;
  --secondary-background-color: #f2dbd5;
  --primary-text-color: #9c6670;
  --text-color: #111111;
  --button-background-color: #b17f88;
}
h1,
h2,
h3,
p {
  font-family: var(--heading-font);
}
h1 {
  color: var(--primary-text-color);
  font-size: 96px;
  font-weight: bold;
}
h3 {
  font-size: 18px;
}
ul li {
  padding: 0 40px 40px;
}
footer {
  padding: 100px 0 50px;
  text-align: center;
}
footer .email-icon {
  padding-right: 20px;
  width: 60px;
}
footer .facebook-icon {
  padding-right: 20px;
  width: 60px;
}
footer .instagram-icon {
  padding-right: 20px;
  width: 60px;
}
.navbar-brand {
  font-size: 34 px;
  color: var(--primary-text-color);
  font-family: var(--default-font);
}
.homepage-content {
  background-color: var(--primary-background-color);
  text-align: center;
  padding: 150px 20px;
  line-height: 1.5;
}
.homepage-content h1 {
  margin-bottom: 30px;
  text-align: center;
}
.homepage-content h2 {
  color: var(--text-color);
  margin-bottom: 100px;
}
.homepage-content p {
  font-size: 64px;
}
.homepage-top-button {
  background-color: var(--button-background-color);
  border-radius: 81px;
  padding: 15px 40px;
  color: var(--secondary-background-color);
  font-family: var(--default-font);
}
.line-right {
  margin-right: 30px;
}
.line-left {
  margin-left: 30px;
}

.skills-page-content {
  background-color: var(--secondary-background-color);
  padding: 40px 0;
}
.skills-page-content h2 {
  padding: 10px;
  margin: 20px 0 40px;
}

.certificates-page-content {
  padding: 10px;
  margin: 20px 0 20px;
}

.go-to-portfolio-homepage {
  margin: 150px 0 100px;
  text-align: center;
}
.go-to-portfolio-homepage h2 {
  margin-bottom: 20px;
}
.go-to-portfolio-homepage h3 {
  margin-bottom: 100px;
}

.go-to-portfolio-homepage-button {
  background-color: var(--button-background-color);
  border-radius: 81px;
  padding: 15px 40px;
  color: var(--secondary-background-color);
  font-family: var(--default-font);
}

@media (max-width: 900px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 30px;
  }
  .intro {
    font-size: 32px;
  }
  .line-left {
    display: none;
  }
  .line-right {
    display: none;
  }
  .ul-skills1 {
    padding: 0;
  }
  .ul-skills2 {
    padding: 0;
  }
  .img-1 {
    padding: 10px 60px;
    margin-bottom: 25px;
  }
  .img-2 {
    padding: 10px 60px;
    margin-bottom: 25px;
  }
  .img-3 {
    padding: 10px 60px;
    margin-bottom: 25px;
  }
}

.about-me-content {
  padding: 80px 20px;
  line-height: 1.5;
  background-color: var(--primary-background-color);
  margin: 0;
  text-align: center;
}
.about-me-content h1 {
  margin: 50px;
}
.about-me-content h2 {
  font-size: 48px;
  line-height: 1.5;
}
.about-me-content h3 {
  font-size: 24px;
  font-weight: bold;
  opacity: 75%;
  line-height: 1.5;
}
.about-me-content p {
  padding: 20px 20px;
  font-family: var(--default-font);
  line-height: 2.5;
  text-align: center;
}
.about-me-button {
  background-color: var(--button-background-color);
  border-radius: 81px;
  padding: 15px 40px;
  color: var(--secondary-background-color);
  font-family: var(--default-font);
}
.about-me-contact {
  background-color: var(--secondary-background-color);
  margin: 0;
  text-align: center;
  padding: 100px;
}
.about-me-contact h2 {
  padding: 10px;
  margin-bottom: 30px;
  font-size: 30px;
}
.about-me-contact-email {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 28px;
}

.about-me-contact-button {
  background-color: var(--button-background-color);
  border-radius: 81px;
  padding: 15px 40px;
  color: var(--secondary-background-color);
  font-family: var(--default-font);
  margin-top: 30px;
}
.my-projects-homepage {
  background-color: var(--primary-background-color);
  padding: 150px 20px;
  line-height: 1.5;
}
.my-projects-content h1 {
  margin-bottom: 100px;
}

.nioly-site-img {
  width: 400px;
}
.contact-homapage {
  background-color: var(--primary-background-color);
  text-align: center;
  padding: 150px 20px;
  line-height: 1.5;
}
