:root {
  --heading-font: "Libre Baskerville", serif;
  --default-font: "Poppins", sans-serif;
  --primary-background-color: #e4c0c4;
  --secondary-background-color: #f2dbd5;
  --primary-text-color: #9c6670;
  --text-color: #111111;
  --button-background-color: #b17f88;
}
h1,
h2,
h3,
p {
  font-family: var(--heading-font);
}
h1 {
  color: var(--primary-text-color);
  font-size: 96px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
h3 {
  font-size: 18px;
}
.main-h2 {
  color: var(--text-color);
  margin-bottom: 100px;
}

.homepage-top {
  background-color: var(--primary-background-color);
  text-align: center;
  padding: 150px 20px;
  line-height: 1.5;
}
.intro {
  font-size: 64px;
}
.homepage-top-button {
  background-color: var(--button-background-color);
  border-radius: 81px;
  padding: 15px 40px;
  color: var(--secondary-background-color);
  font-family: var(--default-font);
}
.line-right {
  margin-right: 30px;
}
.line-left {
  margin-left: 30px;
}
.skills-page {
  background-color: var(--secondary-background-color);
  padding: 40px 0;
}
.my-skills {
  padding: 10px;
  margin: 20px 0 40px;
}
.ul-skills1 {
  text-align: center;
}
.ul-skills2 {
  text-align: center;
}
ul li {
  padding: 0 40px 40px;
}
.certificates {
  padding: 10px;
  margin: 20px 0 20px;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}
.navbar-brand {
  font-size: 34 px;
  color: var(--primary-text-color);
  font-family: var(--default-font);
}
.go-to-portfolio-mainpage {
  margin: 150px 0 100px;
  text-align: center;
}
.go-to-portfolio-mainpage h2 {
  margin-bottom: 20px;
}
.go-to-portfolio-mainpage h3 {
  margin-bottom: 100px;
}

.go-to-portfolio-homepage-button {
  background-color: var(--button-background-color);
  border-radius: 81px;
  padding: 15px 40px;
  color: var(--secondary-background-color);
  font-family: var(--default-font);
}

footer {
  padding: 100px 0 50px;
  text-align: center;
}
footer .email-icon {
  padding-right: 20px;
  width: 60px;
}
footer .facebook-icon {
  padding-right: 20px;
  width: 60px;
}
footer .instagram-icon {
  padding-right: 20px;
  width: 60px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 30px;
  }
  .intro {
    font-size: 32px;
  }
  .line-left {
    display: none;
  }
  .line-right {
    display: none;
  }
  .ul-skills1 {
    padding: 0;
  }
  .ul-skills2 {
    padding: 0;
  }
  .img-1 {
    padding: 10px 60px;
    margin-bottom: 25px;
  }
  .img-2 {
    padding: 10px 60px;
    margin-bottom: 25px;
  }
  .img-3 {
    padding: 10px 60px;
    margin-bottom: 25px;
  }
}
.about-me-homepage {
  background-color: var(--primary-background-color);
  text-align: center;
  padding: 150px 20px;
  line-height: 1.5;
}
.my-projects-homepage {
  background-color: var(--primary-background-color);
  text-align: center;
  padding: 150px 20px;
  line-height: 1.5;
}
.contact-homapage {
  background-color: var(--primary-background-color);
  text-align: center;
  padding: 150px 20px;
  line-height: 1.5;
}
