:root {
  --heading-font: "Libre Baskerville", serif;
  --default-font: "Poppins", sans-serif;
  --primary-background-color: #e4c0c4;
  --secondary-background-color: #f2dbd5;
  --primary-text-color: #9c6670;
  --text-color: #111111;
  --button-background-color: #b17f88;
}
h1,
h2,
p {
  font-family: var(--heading-font);
}
h1 {
  color: var(--primary-text-color);
  font-size: 96px;
  font-weight: bold;
  margin-bottom: 30px;
}
h2 {
  color: var(--text-color);
  margin-bottom: 100px;
}

.homepage-top {
  background-color: var(--primary-background-color);
  text-align: center;
  padding: 100px 20px;
  line-height: 1.5;
}
.intro {
  font-size: 64px;
}
.btn-branding {
  background-color: var(--button-background-color);
  border-radius: 81px;
  padding: 15px 40px;
  color: var(--secondary-background-color);
  font-family: var(--default-font);
}
.line-right {
  margin-right: 30px;
}
.line-left {
  margin-left: 30px;
}
.skills-page {
  background-color: var(--secondary-background-color);
  padding: 40px 0;
}
.my-skills {
  padding: 10px;
  margin: 20px 0 40px;
}
.ul-skills1 {
  text-align: center;
}
.ul-list2 {
  text-align: center;
}
ul li {
  padding: 0 40px 40px;
}
.certificates {
  padding: 10px;
  margin: 20px 0 40px;
}
.nioly-pic {
  box-sizing: border-box;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}
