:root {
  --heading-font: "Libre Baskerville", serif;
  --default-font: "Poppins", sans-serif;
  --primary-background-color: #e4c0c4;
  --secondary-background-color: #f2dbd5;
  --primary-text-color: #9c6670;
  --text-color: #111111;
  --button-background-color: #b17f88;
}
body {
  line-height: 1.5;
}
h1,
h2,
h3,
p {
  font-family: var(--heading-font);
}
h1 {
  color: var(--primary-text-color);
  font-size: 96px;
  font-weight: bold;
}
h3 {
  font-size: 18px;
}
ul li {
  padding: 0 40px 40px;
}
footer {
  padding: 10px;
}
footer h2 {
  margin: 20px 0;
}
footer h3 {
  font-size: 18px;
}

footer .icons a {
  color: var(--primary-text-color);
  font-size: 24px;
  padding: 10px;
}
footer .contact-box {
  padding: 40px 140px;
  margin: 100px 30px;
  background-color: var(--primary-background-color);
  border-radius: 10px;
}
footer .go-to-portfolio-homepage-button {
  background-color: var(--button-background-color);
  border-radius: 81px;
  padding: 15px 40px;
  color: var(--secondary-background-color);
  font-family: var(--default-font);
  margin: 30px 50px 30px 0;
}
.coded-by {
  font-size: 14px;
  padding: 50px 0 0;
}

.navbar-brand {
  font-size: 34 px;
  color: var(--primary-text-color);
  font-family: var(--default-font);
}
.homepage-content {
  background-color: var(--primary-background-color);
  padding: 150px 20px;
}
.homepage-content h1 {
  margin-bottom: 30px;
}
.homepage-content h2 {
  color: var(--text-color);
  margin-bottom: 100px;
}
.homepage-content p {
  font-size: 64px;
}
.homepage-top-button {
  background-color: var(--button-background-color);
  border-radius: 81px;
  padding: 15px 40px;
  color: var(--secondary-background-color);
  font-family: var(--default-font);
}
.line-right {
  margin-right: 30px;
}
.line-left {
  margin-left: 30px;
}

.skills-page-content {
  background-color: var(--secondary-background-color);
  padding: 40px 0;
}
.skills-page-content h2 {
  margin: 20px 0 20px;
}

.certificates-page-content {
  padding: 10px;
  margin: 20px 0 20px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 30px;
  }
  .intro {
    font-size: 32px;
  }
  .line-left {
    display: none;
  }
  .line-right {
    display: none;
  }
  .ul-skills1 {
    padding: 0;
  }
  .ul-skills2 {
    padding: 0;
  }
  .img-1 {
    padding: 10px 60px;
    margin-bottom: 25px;
  }
  .img-2 {
    padding: 10px 60px;
    margin-bottom: 25px;
  }
  .img-3 {
    padding: 10px 60px;
    margin-bottom: 25px;
  }
}

.about-me-content-main {
  background-color: var(--secondary-background-color);
  padding: 40px 0;
}
.about-me-content h1 {
  margin: 50px;
}
.about-me-content h2 {
  font-size: 48px;
}
.about-me-content h3 {
  font-size: 24px;
  font-weight: bold;
  opacity: 75%;
}
.about-me-content p {
  padding: 20px 20px;
  font-family: var(--default-font);
  line-height: 2.5;
}
.about-me-button {
  background-color: var(--button-background-color);
  border-radius: 81px;
  padding: 15px 40px;
  color: var(--secondary-background-color);
  font-family: var(--default-font);
  margin-top: 50px 0 30px;
}

.about-me-contact h2 {
  font-size: 30px;
  padding: 20px;
}
.about-me-contact-container {
  padding: 70px 0 0;
}

.about-me-contact-button {
  background-color: var(--button-background-color);
  border-radius: 81px;
  padding: 15px 40px;
  color: var(--secondary-background-color);
  font-family: var(--default-font);
  margin-top: 30px;
}
.my-projects-homepage {
  background-color: var(--secondary-background-color);
  padding: 100px 0 40px;
}
.my-projects-homepage h1 {
  padding: 20px;
}

.project-content {
  margin: 100px 0 50px 0;
  padding: 40px;
}
.my-project-main-button {
  background-color: var(--button-background-color);
  border-radius: 81px;
  padding: 15px 40px;
  color: var(--secondary-background-color);
  font-family: var(--default-font);
  margin-top: 90px;
}

.project-imgs {
  width: 400px;
}

.contact-me-main-page {
  background-color: var(--secondary-background-color);
  padding: 100px 0 40px;
}
a {
  text-decoration: none;
}
h3 a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 28px;
}
h3 a:hover {
  color: var(--primary-text-color);
}
